{% extends 'base.html' %}
{% include 'header.html' %}


{% block title %} Home {% endblock %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="col md-12">
            <div class="jumbotron p-3">
                <h2 style="background-color:rgba(0, 7, 8, 0.171);">Manage <b>Employees</b> <button style="float: right;"
                        type="button" class="btn btn-success">Method Post</button></h2>
            </div>
        </div>
    </div>
</div>

{% endblock %}